@font-face {
    font-family: 'Flux';
    src: url('../fonts/fluxb___-webfont.eot');
    src: url('../fonts/fluxb___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fluxb___-webfont.woff') format('woff'),
         url('../fonts/fluxb___-webfont.ttf') format('truetype'),
         url('../fonts/fluxb___-webfont.svg#FluxBoldRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMonoBook';
    src: url('../fonts/dejavusansmono-webfont.eot');
    src: url('../fonts/dejavusansmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusansmono-webfont.woff') format('woff'),
         url('../fonts/dejavusansmono-webfont.ttf') format('truetype'),
         url('../fonts/dejavusansmono-webfont.svg#DejaVuSansMonoBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-regular-webfont.eot');
    src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-regular-webfont.svg#TeXGyreScholaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-bold-webfont.eot');
    src: url('../fonts/texgyreschola-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bold-webfont.svg#TeXGyreScholaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot');
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bolditalic-webfont.svg#TeXGyreScholaBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-italic-webfont.eot');
    src: url('../fonts/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-italic-webfont.svg#TeXGyreScholaItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

.step {
    width: 900px;
}


html {
    background-color: white;
    text-align: center;
    letter-spacing: 0;
    font-size: 18px;
}

h1, h2, h3, h3, h4 {
    font-family: 'Flux';
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

p {
    font-family: 'TeXGyreSchola';
    font-size: 200%;
}

strong {
    font-weight: normal;
}

pre {
    font-family: DejaVuSansMonoBook;
    text-align: left;
    font-size: 170%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin: auto;
}

table td, table th {
    padding: 1em;
    border: 2px solid black;
}

table p {
    margin: 0;
}


.poster {
    margin: 0;
    text-align: center;
}

.ref {
  font-family: DejaVuSansMonoBook;
  font-size: 100%;
}

div.highlight.present {
    border: 5px dotted brown;
    border-radius: 10px 10px 10px 10px;
}

.reveal.future {
    display: none;
}

/**************************/

.concat1 {
    height: 60px;
    width: 716px;
}

.concat2 {
    height: 60px;
    width: 741px;
}

.sort1 {
    height: 60px;
    width: 356px;
}

.sort2 {
    height: 45px;
    width: 1040px;
}

.sort3 {
    height: 60px;
    width: 560px;
}

.sort4 {
    height: 130px;
    width: 459px;
}

.sort5 {
    height: 60px;
    width: 457px;
}

.mutable1 {
    height: 60px;
    width: 510px;
}

.mutable2 {
    height: 60px;
    width: 657px;
}

.mutable3 {
    height: 60px;
    width: 783px;
}

.defaultdict1 {
    height: 60px;
    width: 748px;
}

.defaultdict2 {
    height: 60px;
    width: 655px;
}

.cmp1 {
    height: 60px;
    width: 910px;
}

.cmp2 {
    height: 45px;
    width: 720px;
}

.cmp3 {
    height: 60px;
    width: 393px;
}

.left {
    position: left;
}

.right {
    position: right;
}

.footer img {
    width: 16%;
    position: absolute;
    top: 0;
    left: 1em;
    transition-property: width, top, left;
    transition-duration: 1s;
}


#step-1 .name {
    height: 3.1em;
}

.impress-on-step-1 .footer img {
    width: 16%;
    top: 48%;
    left: 42%;
}

.impress-on-step-4 .footer img {
    width: 100%;
    top: -50px;
    left: 0;
}

.blurb {
    margin-top: 50%;
}
